@charset "UTF-8";
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:Helvetica, sans-serif;
    
}
:root{
    --cor1:#B0E0E6;
    --cor2:#FFF8DC;
}
/*pronto*/
p{
    text-align: center;
    font-weight: bolder;
    padding: 10px;
}
/*pronto*/
table{
    border-collapse:collapse ;
    background-color: var(--cor2);
    margin: auto;
}
/*pronto*/
thead{
    font-weight: bolder;
    background-color: var(--cor1);
    text-align: center;
}
/*pronto*/
thead tr>td{
    padding: 10px;
}
/*pronto*/
td{
    border: 1px solid black;
    
}
/*pronto*/
a{
    text-decoration: none;
}
/*pronto*/
a:hover{
    text-decoration: underline;
}
/*pronto*/
.center{
    text-align: center;
    padding: 10px;
}
/*pronto*/
.bolder{
    font-weight: bolder;
    text-align:center;
    vertical-align: middle;
    padding: 10px;
}
/*pronto*/
tfoot{
    background-color: var(--cor1);
    
}