@charset "UTF-8";
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:Helvetica, sans-serif;
    
}
:root{
    --cor1:#B0E0E6;
    --cor2:#FFF8DC;
}
/*pronto*/
caption{
    padding: 10px;
    font-weight: bolder;
    font-size: 2em;
}
/*pronto*/
table{
    border-collapse:collapse ;
    margin: auto;
    font-size: 2vh;
    max-width: 550px;
}
/*pronto*/
th{
    text-align: center;
}
/*pronto*/
thead{
    background-color: var(--cor1);
}
/*pronto*/
tbody{
    background-color: var(--cor2);
}
/*pronto*/
.center{
    text-align: center;
    
}
/*pronto*/
td,th{
    border:  1px solid black;
    padding: 10px;
}
/*pronto*/
a{
    text-decoration: none;
}
/*pronto*/
a:hover{
    text-decoration: underline;
}
/*pronto*/
tfoot{
    background-color: var(--cor1);
}