@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --cor1:#000000;
    --cor2:#ffff;
    --cor3:#021101;
    --cor4:#3E473C;

    --fonte-header:'passion One', cursive;
    --font-corpo:'Sriracha', cursive;
    --fonte-paragrafo:'Times New Roman', Times, serif;
}
/*pronto*//*header*/
header{
    background-color: var(--cor1);
    color: var(--cor2);
    text-align: center;
}
/*pronto*/
header>h1{
    font:bolder 10vw var(--fonte-header);
    font-variant: small-caps;
    padding: 60px 0px 10px 0px;
    
    
}
/*pronto*/
header>p{
    padding-bottom: 50px;
}
/*pronto*/
header p>a{
    color:var(--cor2) ;
    text-decoration: none;
}
/*pronto*/
header p>a:hover{
    text-decoration: underline;

}
/*pronto*/
section>p{
    font-family: var(--font-corpo);
    font-size:2em ;
    padding: 50px 30px ;
    
}
/*pronto*/
section#img1{
    background-image: url(imagens/background001.jpg);
    background-repeat: no-repeat;
    background-position: center ;
    background-size: cover;
    background-attachment: fixed;
}
/*pronto*/
#img1>p{
    color: var(--cor2);
    background-color:var(--cor3);
    margin:40px 0px 40px 30px ;
    padding: 5px 2px;
    display: inline-block;
}
/*pronto*/
#img2{
    background-image: url(imagens/background002.jpg);
    background-repeat: no-repeat;
    background-position: right center;
    background-size: cover;
    background-attachment: fixed;

}
#img2>p{
    color: var(--cor2);
    background-color: var(--cor4);
    display: inline-block;
    margin:60px 0px 40px 30px ;
    padding: 5px 2px;
    font-size: 3em;


}

    







/*pronto*//*footer*/
footer{
    background-color: var(--cor1);
    color: var(--cor2);
    text-align: center;
    padding: 10px;
}
/*pronto*/
footer p>a{
    color: var(--cor2);
    text-decoration: none;
}
/*pronto*/
footer p>a:hover{
    text-decoration: underline;
}
    
