@charset "UTF-8";
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
/*pronto*/
body,html{
    width: 100vw;
    height: 100vh;
}
/*pronto*/
body{
    position: relative;
    background: black url(imagens/fundo-madeira.jpg) center no-repeat fixed;
    background-size: cover;
   
   
}
/*pronto*/
#telefone{
    position: absolute;
    left: 50%;
    top: 50%;
    width: 211px;
    height: 402px;
    transform: translate(-50%,-50%);
    background: url(imagens/frame-iphone.png) center no-repeat fixed;
    background-size: contain;
}
/*pronto*/
iframe{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 170px;
    height: 301px;
    border: 0px;
    background: black url(imagens/tela-home.jpg)  center no-repeat;
    background-size: cover;
    
    
    
}
/*pronto*/
ul{
    position: absolute;
    left: 90%;
    margin-top: 10px;
}
/*pronto*/
li{
    padding-top: 10px;
    list-style: none;
}
/*pronto*/
a>img{
    border-radius: 50%;
    width: 50px;
    height: 50px;

}
/*pronto*/
a img:hover{
    border-radius: 50%;
    border: 2px solid white;
}
/*pronto*/
.inde{
    width: 100vw;
    display: block;
}
/*pronto*/
.inde-a{
    background-color: red;
    text-decoration: none;
    display: block;
    text-align: center;
    padding: 10px;
    color: white;
    

}
/*pronto*/
::-webkit-scrollbar{
    width: 0;
    height: 0;
}
/*pronto*/
.inde-a:hover{
    text-decoration: underline;
    
}
